#root {
  margin: 0 auto; 
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form{
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img{
 /*Alterar tamanho do banner se nescessario!
       max width: 300px;
 */
}

label{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}


input{
  border-radius: 5px;
  border: 1px solid gray;
  height: 25px;
  width: 670px;
}

button{
  width: 300px;
  height: 40px;
  background-color: rgb(46, 148, 207);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

span{
  font-size: small;
  color: red;
  position: static;
  
 
}
